{% embed '@Components/Hero/Hero.twig' with { class: 'HeroInsight text-primary-contrast' } %}
  {% block content %}
    <div class="row-start-2">
      <h1 class="HeroInsight__Title title-big lg:max-w-9/12" x-appear:title="$store.app.isReady">{{ title }}</h1>
    </div>
    <div class="row-start-1 col-start-2 col-span-10 self-end mb-32">
      {% if authors %}
        {% set names = [] %}
        {% for author in authors %}
          {% set names = names|merge([author.name]) %}
        {% endfor %}
        {{- names|join(' & ') -}}
      {% endif %}
    </div>

    <div class="col-span-default lg:col-start-2 lg:col-span-2 flex lg:items-center lg:h-56 mt-32 lg:mt-16">
      <span class="cap-title-small-italic">{{ 'Published %s'|format(date|date('F j, Y')) }}</span>
    </div>

    <div class="row-start-3 lg:row-start-1 col-start-11 col-span-2 lg:col-auto absolute top-0 right-0 mt-24 lg:-mt-8 px-24 lg:px-56 pointer-events-none">
      <div class="flex justify-end items-center lg:justify-center h-40 lg:w-40">
        {% include '@Components/Share/Share.twig' with { shareText: title, uniqid: 'HeroInsight' } only %}
      </div>
    </div>
  {% endblock %}
{% endembed %}

{% embed '@Components/PageNavbar/PageNavbar.twig' with { shareText: title } only %}{% endembed %}
