.InsightContent {
  &__Tags {
    &::after {
      content: "";
      @apply lg:hidden order-none w-full;
    }

    > * {
      @apply order-1;

      &:first-child {
        @apply order-none;
      }
    }
  }

  &__Body {
    @apply text-18 lg:text-20 lg:leading-32;

    > * {
      @apply lg:w-col-6/12 lg:max-w-6/12 lg:mx-auto;
    }

    a {
      @apply font-heavy underline;
    }

    h2, h3, h4, h5, h6 {
      @apply mt-48 mb-16 text-18 lg:text-20 leading-24 font-heavy;
    }

    > blockquote {
      $margin-y: calc(152 / 64 * 1em);
      @apply w-col-8/12 lg:w-col-7/12 lg:max-w-7/12 ml-auto lg:ml-0;
      margin: $margin-y *;
    }

    > figure {
      @apply w-full max-w-none my-32 lg:my-64;

      &[class*="float-"] {
        @screen lg {
          @apply mt-200 mb-40;
          width: calc(theme("width.col-3/12") - theme("margin.24"));
          max-width: calc(theme("maxWidth.3/12") - theme("margin.24"));
          shape-outside: border-box;
          shape-margin: theme("margin.40");
        }
      }
      &.float-left {
        @apply lg:mr-40;
      }
      &.float-right {
        @apply lg:ml-40;
      }
    }
  }

  .AudioPlayer__Cursor {
    .RoundButton {
      @apply pointer-events-auto;
    }
  }
}
