<div class="AppBackground fixed inset-0 z-background bg-primary">
  {% if gradient %}
    {% include '@Components/ColorGradient/ColorGradient.twig' with { config: config, autoplay: autoplay } %}
  {% endif %}
</div>
