<div class="JobFooter container py-global bg-global">
  <div class="col-span-default lg:col-start-4 lg:col-span-6">
    <div class="lg:max-w-6/12 text-18 lg:text-20 lg:leading-32">
      <div class="eyebrow -mt-10 mb-32">TIPS & TOOLS FOR OUR TRADE</div>
      <ul class="list-starred mb-64 lg:mb-112">
        <li>Conceptualising, delivering and communicating analytically driven solutions centred around digital marketing to help drive results for our clients</li>
        <li>Hands on Leadership and guidance a passionate and highly capable team of committed analysts, dashboard developers and data visualisation specialists.</li>
        <li>Fostering creative thinking around how we use data to solve business challenges to deliver connected experiences (across Media, Creative, CRM, and eCommerce)</li>
      </ul>

      <div class="eyebrow mb-32">RECRUITING PROCESS</div>
      <ul class="list-checked mb-64 lg:mb-112">
        <li>Conceptualising, delivering and communicating analytically driven solutions centred around digital marketing to help drive results for our clients</li>
        <li>Hands on Leadership and guidance a passionate and highly capable team of committed analysts, dashboard developers and data visualisation specialists.</li>
        <li>Fostering creative thinking around how we use data to solve business challenges to deliver connected experiences (across Media, Creative, CRM, and eCommerce)</li>
      </ul>

      <div class="flex lg:-mt-16 lg:-mb-32 space-x-12 lg:space-x-16">
        {% include '@Components/Button/Button.twig' with { label: 'Apply now', link: '#apply-now' } only %}
        {% include '@Components/Button/Button.twig' with { label: 'Refer a friend', link: '#refer-a-friend' } only %}
      </div>
    </div>
  </div>
</div>
