.PageNotFound {
  &__Heading {
    grid-template-columns: auto 1fr auto;

    &[x-appear\:title].is-split {
      @apply lg:grid;
    }
  }

  &__Title {
    @screen lg {
      font-size: clamp(theme('fontSize.128'), calc(200 / 1600 * (100 * var(--vw, 1vw))), 12.5rem);
    }

    &:last-of-type {
      @screen lg {
        @apply row-start-2 col-span-full text-right;
        margin-top: calc(-48 / 200 * 1em);
      }
    }
  }

  &__Image {
    transform: scale(0.75);

    &:nth-child(n+7) {
      @apply hidden lg:block;
    }

    @screen lg {
      transform: scale(1);
    }
  }
}
