<div class="JobDescription container py-global bg-global">
  <div class="col-span-default lg:col-start-4 lg:col-span-6">
    <div class="lg:max-w-6/12 text-18 lg:text-20 lg:leading-32">
      <div class="eyebrow -mt-24 mb-32">Overview</div>
      <p class="font-roman text-24 lg:text-32 lg:leading-40 tracking-tight mb-64 lg:mb-112">Campaign’s 2020 Digital Agency of the Year is hiring! Digitas is a where brilliant and diverse minds come together to bring bold, award-winning ideas to life. We use data-driven strategies and CX to guide our work as we help tier 1 clients in travel, entertainment, charity, FMCG and banking serve intelligent, personalised connected experiences.</p>

      <div class="eyebrow mb-32">Day-to-day, your role includes:</div>
      <ul class="list-starred mb-64 lg:mb-112">
        <li>Conceptualising, delivering and communicating analytically driven solutions centred around digital marketing to help drive results for our clients</li>
        <li>Hands on Leadership and guidance a passionate and highly capable team of committed analysts, dashboard developers and data visualisation specialists.</li>
        <li>Fostering creative thinking around how we use data to solve business challenges to deliver connected experiences (across Media, Creative, CRM, and eCommerce)</li>
        <li>Defining success measurement frameworks and processes to feed ongoing reporting and optimisation efforts</li>
        <li>Building reporting frameworks that provide the foundations for engaging, visual and insightful reporting suites</li>
        <li>Establish leading BI & analytics capabilities and consistent development standards</li>
        <li>Establish and promote analytical capabilities such as forecasting.</li>
      </ul>

      <div class="eyebrow mb-32">Qualifications</div>
      <p><strong class="text-20 leading-24">We’re looking for an strong, impactful work experience, which typically includes :</strong></p>
      <ul class="list-starred mb-64 lg:mb-112">
        <li>Conceptualising, delivering and communicating analytically driven solutions centred around digital marketing to help drive results for our clients</li>
        <li>Hands on Leadership and guidance a passionate and highly capable team of committed analysts, dashboard developers and data visualisation specialists.</li>
        <li>Fostering creative thinking around how we use data to solve business challenges to deliver connected experiences (across Media, Creative, CRM, and eCommerce)</li>
        <li>Defining success measurement frameworks and processes to feed ongoing reporting and optimisation efforts</li>
        <li>Building reporting frameworks that provide the foundations for engaging, visual and insightful reporting suites</li>
        <li>Establish leading BI & analytics capabilities and consistent development standards</li>
        <li>Establish and promote analytical capabilities such as forecasting.</li>
      </ul>

      <p class="font-roman text-24 lg:text-32 lg:leading-40 tracking-tight">Got what it takes? We’d love to hear from you.<br>Digitas is an equal opportunity employer</p>
    </div>
  </div>
</div>
