<div class="NewsContent container pt-32 pb-88 lg:py-168 bg-global">
  <div class="NewsContent__Body">
    <p>Digitas, the Connected Marketing Agency, has been named as a Leader in Gartner, Inc.’s newly published March 2021 “Magic Quadrant for Global Marketing Agencies” report for the sixth consecutive year.</p>
    <p>The report evaluates 16 digital agencies based on Completeness of Vision and Ability to Execute.</p>
    <figure class="blockquote">
      <blockquote class="title-small lg:title-medium">
        <p>We’re proud to be named a Leader for the sixth consecutive year by Gartner, the world's leading information technology research and advisory company. We see it as a validation of our offerings and our vision as the Connected Marketing Agency delivering Media-Fueled Creativity, and of the work we do with our clients daily</p>
      </blockquote>
      <figcaption class="mt-20">
        <div class="text-14 lg:text-16 font-medium">Jodi Robinson</div>
        <div class="text-10 lg:text-11 font-roman italic uppercase">US CEO, Digitas.</div>
      </figcaption>
    </figure>
    <p>Gartner defines Magic Quadrant “Leaders” by the following:</p>
    <p><em>Leaders possess deep, broad capabilities across all marketing competencies, most notably related to strategic services for marketing teams (which include business strategy and digital business transformation skills). Leaders also implement comprehensive, effective solutions at global scale. Leaders are the providers to watch in the ongoing evolution and transformation of marketing in a digital world.</em></p>
    <p><em>The market for global marketing agencies is highly mature. Most agencies profiled in this Magic Quadrant have been in business for decades and possess robust staffing and technology depth across marketing disciplines, along with a breadth of enterprise clients across industries. Therefore, it should not be surprising to see the Leaders quadrant particularly crowded. However, marketers should note that, even among Leaders, there is significant differentiation in relevant experience, cultural fit and approach to solving global marketing challenges.</em></p>
    <p>Click <a href="https://www.gartner.com/en" rel="nofollow noopener" target="_blank">here</a> to read a copy of the Gartner 2021 Magic Quadrant report.</p>
    <p><em>Source: Gartner, Magic Quadrant for Global Marketing Agencies, Jay Wilson, Ewan McIntyre, Laurel Erickson, 15 March 2021.</em></p>

    <div class="mt-48 mb-16 text-18 lg:text-20 leading-24"><strong>Gartner Disclaimer: </strong></div>
    <p><em>Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</em></p>

    <div class="mt-48 mb-16 text-18 lg:text-20 leading-24"><strong>About Digitas</strong></div>
    <p>Digitas is the Connected Marketing agency, built on the principle that there are better ways for brands to connect with people. We leverage comprehensive data, technology, creative, media and strategy capabilities to deliver Media-Fueled Creativity via connected Solutions that include Connected Campaigns, Social Marketing, Brand Experience, CRM & Loyalty, and Marketing Transformation.  Digitas serves the world’s leading brands through a global network comprised of more than 4,000 employees across over 30 countries and 50 offices. For more information visit www.digitas.com.</p>
  </div>
</div>
