<div
  x-cloak
  class="CustomCursor pointer-events-none {{ class }}"
  x-data="{{ component|default('CustomCursor') }}({{ settings ? settings|json_encode|e('html_attr') }})"
  {% if isMouseDriven is not defined or isMouseDriven %} x-mouse-driven{% endif %}
  aria-hidden="true"
  {{ attr }}
>
  <div
    x-show="isVisible"
    x-ref="inner"
    class="CustomCursor__Inner"
    x-bind:style="styles"
    x-transition:enter="x-enter-active"
    x-transition:enter-start="x-enter"
    x-transition:leave="x-leave-active"
    x-transition:leave-end="x-leave-to"
  >
    <template x-if="icon === 'move'">
      {% include '@Components/Icon/Icon.twig' with { icon: 'move' } only %}
    </template>
    <template x-if="icon === 'refresh'">
      {% include '@Components/Icon/Icon.twig' with { icon: 'refresh' } only %}
    </template>
    <template x-if="icon === 'arrow'">
      {% include '@Components/Icon/Icon.twig' with { icon: 'arrow' } only %}
    </template>
    <template x-if="icon === 'play'">
      {% include '@Components/Icon/Icon.twig' with { icon: 'play' } only %}
    </template>
    <template x-if="icon === 'close'">
      {% include '@Components/Icon/Icon.twig' with { icon: 'close' } only %}
    </template>
    <template x-if="hasLabel">
      <span class="CustomCursor__Label" x-text="label"></span>
    </template>
    <svg x-show="withProgress" class="CustomCursor__ProgressRing" viewBox="0 0 82 82">
      <circle class="CustomCursor__ProgressBar" cx="41" cy="41" r="40" pathLength="1" fill="none" stroke-width="2" stroke-dasharray="1" x-bind:stroke-dashoffset="1 - progress" />
    </svg>
  </div>
</div>
