<div class="WhoWeAre bg-global py-global overflow-hidden relative" x-data>
  <div class="WhoWeAre__logo lg:max-w-11/12"></div>
  <div class="container relative">
    <div class="WhoWeAre__content lg:max-w-7/12">
      <div class="eyebrow mb-24 lg:mb-32">
        {{- eyebrow -}}
      </div>
      <h2 class="mb-32 lg:mb-64 title-large" x-appear:title>
        {{- title -}}
      </h2>
      <div class="m-paragraph lg:paragraph lg:max-w-4/12">
        {{- content -}}
      </div>
    </div>
  </div>
</div>
